
html{
    font-family: 'Roboto', sans-serif;  
background-image: url(../background2.jpg);
back
height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    
    
}
header{
    /*border: 5px solid red;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aquamarine;
}
#linkedin{
    text-decoration: none;
    color: aquamarine;
}
p{
    margin: 5px;
}
section{
    /*border: 5px solid green;*/
    display: flex;
    flex-direction: column;
    align-items: center
}
h1{
    font-size: 50px;
    font-weight: 900;
    font-family: 'Noto Serif', serif;
    color:rgb(7, 17, 85);
}
h2{
    color:aqua;
}
q{
    margin: 40px;
    font-size: 30px;
    font-style: italic;
    color: gold;
}
.languages{
    margin-bottom: 50px;
    font-weight: 900;
    font-size: 30px;
}
.languages>a{
    text-decoration: none;
    /*border: 1px solid red;*/
    border-radius: 10%;
    background-color: bisque;
    padding: 0px 20px 0px 20px;
}
#centerlink{
    margin-left: 20px;
    margin-right: 20px;
}

footer{
    /*border: 5px solid orange;*/
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center
}